---
layout: default.liquid
tags: article
---

<section class="chapter-header">
	<h1 class="chapter-intro">{{chapter.layout}}</h1>
	<h1>{{title}}</h1>
</section>
<article>
	{{content}}
	<div id="footnote-popup" class="footnote-text"></div>
</article>
{% assign nextPost = collections.toc | getNextCollectionItem: page %}	
{% if nextPost %}
	<section class="chapter-next">
		<h1>
			<a href="{{ nextPost.url }}">
				<span class="chapter-number">{{nextPost.data.chapter}}</span>
				<span class="chapter-title">{{nextPost.data.title}}</span>
			</a>
		</h1>
	</section>
{% endif %}