<header>
	<nav>
		<div class="navlink">
			Who are we now?
		</div>
		<ul class="toc">
			{%- for item in collections.toc -%}
				{% if item.data.layout == "intro" or item.data.layout == "interlude"%}
				<li>
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active {% endif %}"> 
						{{ item.data.title }}					
					</a>
				</li>
				{% elsif item.data.layout == "chapter"%}
				<li class="chapter">
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active {% endif %}"> 
						<h4>Chapter {{ item.data.chapter }}</h4>
						{{ item.data.title }}
					</a>
				</li>
				{% elsif item.data.layout == "section"%}
				<li class="part">
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active {% endif %}"> 
						Part {{ item.data.part }}						
					</a>
				</li>
				{% endif %}
		  	{%- endfor -%}
		</ul>
	</nav>
</header>
<main>