<header>
	<nav>
		<div class="navlink">
			<div class="home"><a href="/">Who are we now?</a></div>
			<div class="current-page" data-display="hidden">
				{%- for item in collections.toc -%}
					{% if item.url == page.url %}
						{{ item.data.title }}	
					{% endif %}
				{%- endfor -%}
			</div>
		</div>
		<ul class="toc" id="toc">
			{%- for item in collections.toc -%}
				{% if item.data.layout == "intro"%}
				<li>
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active{% endif %}"> 
						<span class="chapter-intro">{{item.data.chapter}}</span><br>
						{{ item.data.title }}					
					</a>
				</li>
				{% elsif item.data.layout == "interlude"%}
				<li class="chapter">
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active{% endif %}"> 
						{{ item.data.title }}		
					</a>
				</li>
				{% elsif item.data.layout == "chapter"%}
				<li class="chapter">
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active{% endif %}"> 
						<span class="chapter-intro">{{item.data.chapter}}</span><br>
						{{ item.data.title }}
					</a>
				</li>
				{% elsif item.data.layout == "section"%}
				<li class="part">
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active{% endif %}"> 
						<span class="chapter-intro">{{ item.data.part }}. </span>
						{{ item.data.title }}					
					</a>
				</li>
				{% endif %}
		  	{%- endfor -%}
		</ul>
	</nav>
</header>