<header>
	<nav>
		<div class="navlink">
			<div class="home"><a href="/">Who are we now?</a></div>
			<div class="current-page" data-display="hidden">
				{%- for item in collections.toc -%}
					{% if item.url == page.url %}
						{{ item.data.title }}	
					{% endif %}
				{%- endfor -%}
			</div>
		</div>
		<ul class="toc" id="toc">

			{%- for item in collections.toc -%}
				{% assign part = item.data.part %}
				
				{% if item.data.chapter == 1 %}
				<li class="part"><span class="marker">I.</span> Handedness</li>
				{% elsif item.data.chapter == 4 %}
				<li class="part"><span class="marker">II.</span> Sex and Gender</li>
				{% elsif item.data.chapter == 16 %}
				<li class="part"><span class="marker">III.</span> Humanity</li>
				{% endif %}

				{% if item.data.layout == "introduction" or item.data.layout == "interlude"%}
				<li class="toc-{{item.data.layout}}">
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active{% endif %}"> 
						<span class="marker">{{item.data.layout}}</span><br>
						{{ item.data.title }}					
					</a>
				</li>
				{% elsif item.data.layout =="preface"%}
				<li>
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active{% endif %}"> 
						{{ item.data.title }}					
					</a>
				</li>
				{% elsif item.data.layout == "chapter"%}
				<li class="chapter">
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active{% endif %}"> 
						<span class="marker">{{item.data.chapter}}</span><br>
						{{ item.data.title }}
					</a>
				</li>
				{% elsif item.data.layout == "part"%}
				<!-- <li class="part">
					<a href="{{ item.url | url }}" class="{% if item.url == page.url %}is-active{% endif %}"> 
						<span class="chapter-intro">{{ item.data.part }}. </span>
						{{ item.data.title }}					
					</a>
				</li> -->
				{% endif %}
		  	{%- endfor -%}
		</ul>
	</nav>
</header>